<section class="stage">
  <div class="grid-container">
    <div class="grid-row">
      <div class="grid-col-12 tablet-lg:grid-col-8 desktop:grid-col-9">
        <div class="video-box">
          <iframe src="https://www.youtube.com/embed/zxyJVrxWVmg?autoplay=1" frameborder="0" allowfullscreen="1"></iframe>
        </div>
        <div class="event-tools">
          <a class="youtube" href="https://www.youtube.com/watch?v={{- .Params.youtube_id -}}" title="Watch on YouTube"><strong><i class="fab fa-youtube"></i> <span>Watch on YouTube</span></strong></a>

          {{- if (isset .Params "captions") -}}
          <a class="captions" href="{{- .Params.captions -}}" title="Captions for the {{ .Title -}}"><strong><i class="far fa-closed-captioning"></i> <span>Captions</span></strong></a>
          {{- end -}}
        </div>
      </div>
      <div class="grid-col-12 tablet-lg:grid-col-4 desktop:grid-col-3">
        <div class="chat-box">
          <iframe allowfullscreen="" frameborder="0" src="https://www.youtube.com/live_chat?v={{- .Params.youtube_id -}}&embed_domain=digital.gov&output=embed" scrolling="auto"></iframe>
        </div>
        <div class="event-tools">
          <p class="notice"><i class="far fa-flag"></i> Chats are archived in <a href="https://www.youtube.com/watch?v={{- .Params.youtube_id -}}" title="Watch on YouTube">YouTube</a>.</p>
        </div>

      </div>
    </div>

  </div>
</section>
