{{ define "content" }}
<main role="main" id="author">
  <article>

    <header>
      <div class="grid-container grid-container-desktop">
        <div class="grid-row">
          <div class="grid-col-12">
            {{- $authors := (where .Site.Pages "Section" "authors") -}}
            <h1>{{ .Title }}</h1>
            {{/* Deck */}}
            {{- if .Params.deck -}}
            <div class="deck">{{- .Params.deck | markdownify -}}</div>
            {{- end -}}
            <h4>{{ len $authors }} authors, writers, and contributors</h4>
          </div>
        </div>
      </div>
    </header>

    <section>
      <div class="grid-container grid-container-desktop">
        <div class="grid-row">
          <div class="grid-col-12">
            <div class="authors-list">
              {{- range $slug, $author := .Site.Taxonomies.authors -}}
                {{- with $.Site.GetPage (printf "/authors/%s" $slug) -}}

                  {{ $link := printf "authors/%s/" .Params.uid }}
                  <div class="author grid-row flex-no-wrap" data-edit-this="{{- .File.Path -}}">
                    <div class="grid-col-auto">
                      <div class="photo height-5 width-5 display-flex flex-align-center flex-justify-center">
                        {{- if .Params.github -}}
                        <img class="circle-5" src="https://github.com/{{- .Params.github -}}.png?size=50" alt="">
                        {{- else -}}
                        {{- $default_profile := print "img/digit-" (index (shuffle (slice "light" "dark")) 0) ".png" -}}
                        <img class="circle-5" src="{{- $default_profile | absURL -}}" alt="">
                        {{- end -}}
                      </div>
                    </div>
                    <div class="grid-col-9">
                      <div class="details">
                        <h5>
                          <a href="{{- $link | absURL -}} " title="Posts by {{- .Params.display_name | default $slug -}} " rel="author">
                            {{- .Params.display_name | default $slug -}}
                          </a>
                        </h5>

                        {{- if .Params.agency -}}
                        <p>{{- .Params.agency -}}{{- if .Params.location -}}&nbsp;|&nbsp;{{- .Params.location -}}{{- end -}}</p>
                        {{- end -}}

                      </div>
                    </div>
                  </div>


                {{ end }}
              {{ end }}

            </div>
          </div>
        </div>
      </div>
    </section>
  </article>
</main>
{{ end }}
